.__container {
  background-color: rgba(255, 255, 255, 0.6);
  height: 100%;
  margin: auto;
  position: fixed;
  top: 0%;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  overflow: visible;
  animation: fade 2.5s linear forwards;
}
.__container .__logoanim {
  font-family: "Shrikhand";
  font-size: 2.2rem;
  position: fixed;
  width: 150px;
  height: 150px;
  z-index: 998;
  overflow: visible;
  margin: auto;
  left: 0;
  right: 3vh;
  top: 35vh;
  animation: color 2s both ease-in-out;
}
.__container .cssload-loader {
  position: fixed;
  left: calc(50% - 44px);
  width: 88px;
  height: 88px;
  border-radius: 50%;
  perspective: 1100px;
  z-index: 999;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.__container .cssload-loader .cssload-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 50%;
}
.__container .cssload-loader .cssload-inner.cssload-one {
  left: 0%;
  top: 0%;
  animation: cssload-rotate-one 1s linear 3 forwards;
  border-bottom: 4px solid #9356cd;
}
.__container .cssload-loader .cssload-inner.cssload-two {
  right: 0%;
  top: 0%;
  animation: cssload-rotate-two 1s linear 3 forwards;
  border-right: 4px solid #ff79da;
}
.__container .cssload-loader .cssload-inner.cssload-three {
  right: 0%;
  bottom: 0%;
  animation: cssload-rotate-three 1s linear 3 forwards;
  border-top: 4px solid #99e2d0;
}
.__container .cssload-loader {
  position: fixed;
  left: calc(50% - 44px);
  width: 88px;
  height: 88px;
  border-radius: 50%;
  perspective: 1100px;
  z-index: 1000;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.__container .cssload-loader .cssload-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 50%;
}
.__container .cssload-loader .cssload-inner.cssload-one {
  left: 0%;
  top: 0%;
  animation: cssload-rotate-one 1.15s linear 2 forwards;
  border-bottom: 4px solid #9356cd;
}
.__container .cssload-loader .cssload-inner.cssload-two {
  right: 0%;
  top: 0%;
  animation: cssload-rotate-two 1.15s linear 2 forwards;
  border-right: 4px solid #ff79da;
}
.__container .cssload-loader .cssload-inner.cssload-three {
  right: 0%;
  bottom: 0%;
  animation: cssload-rotate-three 1.15s linear 2 forwards;
  border-top: 4px solid #99e2d0;
}

@keyframes cssload-rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    visibility: visible;
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    visibility: hidden;
  }
}
@-o-keyframes cssload-rotate-one {
  0% {
    -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@-ms-keyframes cssload-rotate-one {
  0% {
    -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@-webkit-keyframes cssload-rotate-one {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@-moz-keyframes cssload-rotate-one {
  0% {
    -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes cssload-rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    visibility: visible;
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    visibility: hidden;
  }
}
@-o-keyframes cssload-rotate-two {
  0% {
    -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@-ms-keyframes cssload-rotate-two {
  0% {
    -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@-webkit-keyframes cssload-rotate-two {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@-moz-keyframes cssload-rotate-two {
  0% {
    -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes cssload-rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    visibility: visible;
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    visibility: hidden;
  }
}
@-o-keyframes cssload-rotate-three {
  0% {
    -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
@-ms-keyframes cssload-rotate-three {
  0% {
    -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
@-webkit-keyframes cssload-rotate-three {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
@-moz-keyframes cssload-rotate-three {
  0% {
    -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
@keyframes fade {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes color {
  0% {
    color: #9356CD;
  }
  50% {
    color: #FF79DA;
  }
  100% {
    color: #99E2D0;
  }
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: #000000;
}

/*Top header*/
header {
  width: 100%;
  /*Description*/
}
header .fa-arrow-left {
  font-size: 1.3rem;
  position: absolute;
  left: 25px;
  top: 22px;
}
header .__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
header .__logo img {
  width: 50%;
}
header .__loc {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  background-color: #e7e7e7;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.3) inset;
}
header .__loc .fa-map-marker-alt {
  margin-right: 15px;
}
header .__description {
  height: 285px;
  background-color: #f6f6f6;
}
header .__description .__title {
  text-align: center;
  font-family: "Roboto";
  padding-top: 40px;
  font-size: 1.5rem;
  font-weight: bold;
}
header .__description .__subtitle {
  font-weight: 100;
  text-align: center;
  padding-top: 20px;
  font-size: 1.15rem;
}
header .__description .__btn {
  width: 215px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 25px;
  border-radius: 50px;
  box-shadow: 2px 2px 10px 0px grey;
  background: #FF79DA;
  background: linear-gradient(177deg, #FF79DA 0%, #9356CD 82%);
  color: #FFF;
}
header .__description .__btn:hover {
  filter: brightness(110%);
  cursor: pointer;
  box-shadow: 5px 5px 3px 0px grey;
}

/*Fonctionnement*/
.operation {
  height: 390px;
  padding-top: 55px;
}
.operation .__title {
  font-size: 1.4rem;
  font-weight: bold;
  padding-left: 20px;
  padding-bottom: 10px;
}
.operation .__step1, .operation .__step2, .operation .__step3 {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 75px;
  border-radius: 20px;
  background-color: #f6f6f6;
  font-weight: 500;
  box-shadow: 0px 9px 15px 0px #e7e7e7;
}
.operation .__step1 .__number, .operation .__step2 .__number, .operation .__step3 .__number {
  width: 25px;
  height: 25px;
  border-radius: 22px;
  background-color: #9356CD;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  position: relative;
  left: -65px;
}
.operation .__step1 .__icon, .operation .__step2 .__icon, .operation .__step3 .__icon {
  color: #7e7e7e;
  font-size: 1.1rem;
  position: relative;
  right: 30px;
}
.operation .__step1 .fa-list, .operation .__step2 .fa-list, .operation .__step3 .fa-list {
  position: relative;
  right: 10px;
}
.operation .__step1 .fa-mobiel, .operation .__step2 .fa-mobiel, .operation .__step3 .fa-mobiel {
  position: relative;
  right: 2px;
}
.operation .__step3 {
  background-color: #f5edff;
}
.operation .__step3 .__icon {
  color: #9356CD;
}
.operation .__step2 .__icon {
  margin-left: 10px;
}

/*Restaurants*/
.restaurant {
  background-color: #f6f6f6;
  margin-bottom: 60px;
}
.restaurant .__title {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 55px 0 25px 20px;
}
.restaurant .__thumbnail {
  height: 250px;
  width: 90%;
  margin: auto;
  margin-bottom: 17px;
  background-color: #FFF;
  border-radius: 20px;
  box-shadow: 0px 9px 15px 0px #e7e7e7;
}
.restaurant .__img img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurant .__img {
  height: 175px;
  position: relative;
}
.restaurant .__img .__new {
  width: 75px;
  height: 25px;
  background-color: #99e2d0;
  color: #008766;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: 400;
  position: absolute;
  top: 20px;
  right: 20px;
}
.restaurant .__description {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}
.restaurant .__description .__nameloc {
  width: 60%;
}
.restaurant .__description span {
  font-weight: bold;
  font-size: 1.2rem;
}
.restaurant .__description p {
  font-weight: 200;
  font-size: 1.1rem;
  padding-left: 13px;
  line-height: 1.5rem;
}
.restaurant .__description .__heart--empty {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  scale: 1;
}
.restaurant .__description .__heart--empty:hover {
  transform: scale(0);
}
.restaurant .__description .__heart--full .fa-heart {
  visibility: hidden;
}

/** Menu Restaurants**/
.__bg {
  width: 100%;
  height: 270px;
  margin-top: -10px;
}
.__bg img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

.__bg2 {
  width: 100%;
  height: 270px;
  margin-top: -10px;
}
.__bg2 img {
  max-width: 100%;
  object-fit: cover;
}

.__menu {
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 35px 35px 0 0;
  position: relative;
  bottom: 55px;
  padding-bottom: 70px;
  margin-bottom: -55px;
}
.__menu .__title1 {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  font-family: "Shrikhand";
  padding-top: 10px;
}
.__menu .__title1 p {
  font-size: 1.7rem;
  padding-left: 5px;
}
.__menu .__title1 .fa-heart {
  font-size: 1.5rem;
  padding-right: 14px;
}
.__menu .__starter, .__menu .__main, .__menu .__desserts {
  width: 93%;
  margin: auto;
}
.__menu .__starter .__title, .__menu .__main .__title, .__menu .__desserts .__title {
  font-family: "Roboto";
  font-weight: 400;
  display: block;
  margin: -15px 0 0 5px;
}
.__menu .__starter .__title .__line--green, .__menu .__main .__title .__line--green, .__menu .__desserts .__title .__line--green {
  width: 35px;
  height: 3px;
  background-color: #99E2D0;
  margin-top: -11px;
}
.__menu .__starter .__opt, .__menu .__main .__opt, .__menu .__desserts .__opt {
  height: 67px;
  margin: 15px 0 15px 0;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 11px 15px 0px #e7e7e7;
}
.__menu .__starter .__opt .__name, .__menu .__main .__opt .__name, .__menu .__desserts .__opt .__name {
  width: 90%;
  margin: auto;
  margin-bottom: -5px;
  font-weight: 500;
  font-size: 1.12rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.__menu .__starter .__opt .__info, .__menu .__main .__opt .__info, .__menu .__desserts .__opt .__info {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin: auto;
}
.__menu .__starter .__opt .__info .__description, .__menu .__main .__opt .__info .__description, .__menu .__desserts .__opt .__info .__description {
  width: 90%;
  display: block;
  font-weight: 100;
  font-size: 0.95rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.__menu .__starter .__opt .__info .__price, .__menu .__main .__opt .__info .__price, .__menu .__desserts .__opt .__info .__price {
  font-weight: 600;
  padding-bottom: 18px;
}
.__menu .__starter #bloc1, .__menu .__main #bloc1, .__menu .__desserts #bloc1 {
  animation: opacity 1s both;
  animation-delay: 0.1s;
}
.__menu .__starter #bloc2, .__menu .__main #bloc2, .__menu .__desserts #bloc2 {
  animation: opacity 1s both;
  animation-delay: 0.2s;
}
.__menu .__starter #bloc3, .__menu .__main #bloc3, .__menu .__desserts #bloc3 {
  animation: opacity 1s both;
  animation-delay: 0.3s;
}
.__menu .__starter #bloc4, .__menu .__main #bloc4, .__menu .__desserts #bloc4 {
  animation: opacity 1s both;
  animation-delay: 0.4s;
}
.__menu .__starter #bloc5, .__menu .__main #bloc5, .__menu .__desserts #bloc5 {
  animation: opacity 1s both;
  animation-delay: 0.5s;
}
.__menu .__starter #bloc6, .__menu .__main #bloc6, .__menu .__desserts #bloc6 {
  animation: opacity 1s both;
  animation-delay: 0.6s;
}
.__menu .__starter #bloc7, .__menu .__main #bloc7, .__menu .__desserts #bloc7 {
  animation: opacity 1s both;
  animation-delay: 0.7s;
}
.__menu .__starter #bloc8, .__menu .__main #bloc8, .__menu .__desserts #bloc8 {
  animation: opacity 1s both;
  animation-delay: 0.8s;
}
.__menu .__starter #bloc9, .__menu .__main #bloc9, .__menu .__desserts #bloc9 {
  animation: opacity 1s both;
  animation-delay: 0.9s;
}
.__menu .__starter #bloc10, .__menu .__main #bloc10, .__menu .__desserts #bloc10 {
  animation: opacity 1s both;
  animation-delay: 1s;
}
.__menu .__main, .__menu .__desserts, .__menu .__starter {
  margin-top: 60px;
}
.__menu .__btn-cmd {
  width: 190px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 55px;
  border-radius: 50px;
  background: #FF79DA;
  box-shadow: 2px 2px 10px 0px grey;
  background: linear-gradient(177deg, #FF79DA 0%, #9356CD 82%);
  color: #FFF;
}
.__menu .__btn-cmd:hover {
  filter: brightness(110%);
  cursor: pointer;
  box-shadow: 5px 5px 3px 0px grey;
}

/*Footer*/
footer {
  height: 200px;
  background-color: #363636;
  color: #FFF;
}
footer .__logo img {
  width: 100px;
  height: auto;
  margin: 25px 0 15px 20px;
}
footer p {
  width: 88%;
  margin: auto;
  line-height: 1.8rem;
}
footer p .fas {
  padding-right: 10px;
  font-size: 0.8rem;
}
footer p a {
  color: white;
}

/*Responsive*/
@media (min-width: 768px) {
  .__logo {
    width: 500px;
    margin: auto;
  }

  .operation .__title {
    width: 14vh;
    margin: auto;
    padding: 0;
    padding-bottom: 1vh;
  }

  .__bloc {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .restaurant .__description {
    width: 45%;
    display: flex;
    justify-content: space-between;
  }

  footer .__bloclink {
    display: flex;
    justify-content: space-around;
  }
  footer .__logo {
    width: 7vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer p {
    width: 15vh;
    text-align: center;
    margin-top: 3vh;
  }
}
@media (min-width: 1100px) {
  .__blocmenu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  footer {
    height: 300px;
  }
  footer .__logo {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (min-width: 1440px) {
  .__bloc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .__blocstep {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .operation {
    height: 20vh;
    display: grid;
    grid-template-rows: 0.2fr 0.5fr;
  }
}

/*# sourceMappingURL=style.css.map */
