$color-primary:#9356CD;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-icon: rgb(126,126,126);

$bg-1: rgb(231,231,231);
$bg-2: rgb(246,246,246);
$bg-3: rgb(54,54,54);

$font-primary:"Roboto", sans-serif;
$font-title:"Shrikhand";

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.__container{

    background-color: rgba($color: white, $alpha: .6);
    height: 100%;
    margin: auto;
    position: fixed;
    top: 0%;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    overflow: visible;
    animation: fade 2.5s linear forwards;
    

    .cssload-loader {
	position: fixed;
	left: calc(50% - 44px);
	width: 88px;
	height: 88px;
	border-radius: 50%;
	perspective: 1100px;
    z-index: 999;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    

    .cssload-inner {
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border-radius: 50%;	
    }

    .cssload-inner.cssload-one {
        left: 0%;
        top: 0%;
        animation: cssload-rotate-one 1s linear 3 forwards;
        border-bottom: 4px solid rgb(147,86,205);
    }
    
    .cssload-inner.cssload-two {
        right: 0%;
        top: 0%;
        animation: cssload-rotate-two 1s linear 3 forwards;
        border-right: 4px solid rgb(255,121,218);
    }
    
    .cssload-inner.cssload-three {
        right: 0%;
        bottom: 0%;
        animation: cssload-rotate-three 1s linear 3 forwards;
        border-top: 4px solid rgb(153,226,208);
    }
}


    .cssload-loader {
        position: fixed;
        left: calc(50% - 44px);
        width: 88px;
        height: 88px;
        border-radius: 50%;
        perspective: 1100px;
        z-index: 1000;
        overflow: visible;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        
    
        .cssload-inner {
            position: absolute;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border-radius: 50%;	
        }
    
        .cssload-inner.cssload-one {
            left: 0%;
            top: 0%;
            animation: cssload-rotate-one 1.15s linear 2 forwards;
            border-bottom: 4px solid rgb(147,86,205);
        }
        
        .cssload-inner.cssload-two {
            right: 0%;
            top: 0%;
            animation: cssload-rotate-two 1.15s linear 2 forwards;
            border-right: 4px solid rgb(255,121,218);
        }
        
        .cssload-inner.cssload-three {
            right: 0%;
            bottom: 0%;
            animation: cssload-rotate-three 1.15s linear 2 forwards;
            border-top: 4px solid rgb(153,226,208);
        }
    }
    



}


@keyframes cssload-rotate-one {
	0% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
        visibility: visible;
        
	}
	100% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
        visibility: hidden;
	}
}

@-o-keyframes cssload-rotate-one {
	0% {
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-one {
	0% {
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-one {
	0% {
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-one {
	0% {
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}


@keyframes cssload-rotate-two {
	0% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
        visibility: visible;
	}
	100% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);  
        visibility: hidden;
	}
}

@-o-keyframes cssload-rotate-two {
	0% {
		-o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-two {
	0% {
		-ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-two {
	0% {
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-two {
	0% {
		-moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}



@keyframes cssload-rotate-three {
	0% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
        visibility: visible;
	}
	100% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
        visibility: hidden;
	}
}

@-o-keyframes cssload-rotate-three {
	0% {
		-o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-three {
	0% {
		-ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-three {
	0% {
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-three {
	0% {
		-moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@keyframes fade {
    0% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}

body{
    margin: 0;
    font-family: $font-primary;
}

a{
    text-decoration: none;
    color: black;
}

a:visited{
    text-decoration: none;
    color: #000000;
}

/*Top header*/

header{
    width: 100%;

    .fa-arrow-left{
        font-size: 1.3rem;
        position: absolute;
        left: 25px;
        top: 22px;
    }

    .__logo{
        @include flex;
        margin: 20px 0 20px 0; 
    }

    .__logo img{
        width: 50%;
    }
    .__loc{
        @include flex;
        height: 45px;
        background-color: $bg-1;
        box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.3) inset;
        .fa-map-marker-alt{
            margin-right: 15px;
        }
    }


 /*Description*/   

    .__description{
        height: 285px;
        background-color: $bg-2;
        .__title{
            text-align: center;
            font-family: "Roboto";
            padding-top: 40px;
            font-size: 1.5rem;
            font-weight: bold;
        }
        .__subtitle{
            font-weight: 100;
            text-align: center;
            padding-top: 20px;
            font-size: 1.15rem;
        }
        .__btn{
            width: 215px;
            height: 50px;
            @include flex;
            margin: auto;
            margin-top: 25px;
            border-radius: 50px;
            box-shadow: 2px 2px 10px 0px grey;
            background: $color-secondary;
            background: linear-gradient(177deg, $color-secondary 0%, $color-primary 82%);
            color: #FFF;

            &:hover{
                filter: brightness(110%);
                cursor: pointer;
                box-shadow: 5px 5px 3px 0px grey;
            }
        }
    }   
}

/*Fonctionnement*/

.operation{
    height: 390px;
    padding-top: 55px;

    .__title{
        font-size: 1.4rem;
        font-weight: bold;
        padding-left: 20px;
        padding-bottom: 10px;
    }
    .__step1, .__step2, .__step3{
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        @include flex;
        width: 320px;
        height: 75px;
        border-radius: 20px;
        background-color: $bg-2;
        font-weight: 500;
        box-shadow: 0px 9px 15px 0px $bg-1;

        .__number{
            width: 25px;
            height: 25px;
            border-radius: 22px;
            background-color: $color-primary;
            color: #FFF;
            @include flex;
            font-size: 0.8rem;
            position: relative;
            left: -65px;
        }
        .__icon{
            color: $color-icon;
            font-size: 1.1rem;
            position: relative;
            left: -30px;
        }        
    }
    .__step3{
        background-color: rgb(245,237,255);
        .__icon{
            color: $color-primary;
        }
    }
    .__step2{
        .__icon{
            margin-left: 10px;
        }
    }
}


/*Restaurants*/

.restaurant{
    background-color: $bg-2;
    margin-bottom: 60px;
    .__title{
        font-weight: bold;
        font-size: 1.5rem;
        padding: 55px 0 25px 20px;

    }

    .__thumbnail{
        height: 250px;
        width: 90%;
        margin: auto;
        margin-bottom: 17px;
        background-color: #FFF;
        border-radius: 20px;
        box-shadow: 0px 9px 15px 0px $bg-1;
    }
    .__img img{
        width: 100%;
        height: 175px;
        object-fit: cover;
        border-radius:20px 20px 0 0 ;       
    }
    .__img{
        height: 175px;

        .__new{
            width: 75px;
            height: 25px;
            background-color: rgb(153, 226, 208);
            color: rgb(-0, 135,102);
            @include flex;
            font-size: 0.9rem;
            font-weight: 400;
            position: relative;
            top: -165px;
            right: -235px
        }        
    }
    .__description{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;

        span{
            font-weight: bold;
            font-size: 1.2rem;
        }
        p{
            font-weight: 200;
            font-size: 1.1rem;
            padding-left: 13px;
            line-height:1.5rem;
        }
        .__heart--empty{
            font-size: 1.5rem;
            position: relative;
            left: 105px;
            bottom: 5px;
            scale: 1;
                &:hover{
                    transform: scale(0);
                }
        }

        .__heart--full .fa-heart{
            visibility: hidden;
        }
    } 
}



/** Menu Restaurants**/

.__bg{
    width: 100%;
    height: 270px;
    margin-top: -10px;

    img{
        max-width: 100%;
        height: 270px;
        object-fit: cover;
    }
}

.__bg2{
    width: 100%;
    height: 270px;
    margin-top: -10px;

    img{
        max-width: 100%;
        object-fit: cover;
    }
}


.__menu{
    width: 100%;
    background-color: $bg-2;
    border-radius: 35px 35px 0 0;
    position: relative;
    bottom:55px;
    padding-bottom: 70px;
    margin-bottom: -55px;



    .__title1{
        @include flex;
        justify-content: space-around;
        font-family: "Shrikhand";
        padding-top: 10px;

        p{
            font-size: 1.7rem;
            padding-left: 5px;
        }
        .fa-heart{
            font-size: 1.5rem;
            padding-right: 14px;
        }    
    }

    .__starter, .__main, .__desserts{
        width: 93%;
        margin: auto;

        .__title{
            font-family: "Roboto";
            font-weight: 400;
            display: block;
            margin: -15px 0 0 5px;
            .__line--green{
                width: 35px;
                height: 3px;
                background-color: $color-tertiary;
                margin-top: -11px;
            }
        }

        .__opt{
            height: 67px;
            margin: 15px 0 15px 0;
            background-color: white;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            box-shadow: 0px 11px 15px 0px $bg-1;
            

            .__name{
                width: 90%;
                margin: auto;
                margin-bottom: -5px;
                font-weight: 500;
                font-size: 1.12rem;
                text-overflow: ellipsis; 
                overflow: hidden;
                white-space: nowrap;
            }

            .__info{
                width: 90%;
                @include flex;
                justify-content: space-between;
                margin: auto;

                .__description{
                    width: 90%;
                    display: block;
                    font-weight: 100;
                    font-size: 0.95rem; 
                    text-overflow: ellipsis; 
                    overflow: hidden;
                    white-space: nowrap;
                }

                .__price{
                    font-weight: 600;
                }
            }
        }
    }

    .__main, .__desserts{
        margin-top: 60px;
    }

    .__btn-cmd{
        width: 190px;
        height: 50px;
        @include flex;
        margin: auto;
        margin-top: 55px;
        border-radius: 50px;
        background: $color-secondary;
        box-shadow: 2px 2px 10px 0px grey;
        background: linear-gradient(177deg, $color-secondary 0%, $color-primary 82%);
        color: #FFF;


        &:hover{
            filter: brightness(110%);
            cursor: pointer;
            box-shadow: 5px 5px 3px 0px grey;
        }
    }

}




/*Footer*/

footer{
    height: 200px;
    background-color: $bg-3;
    color: #FFF;
    .__logo img{
        width: 100px;
        height: auto;
        margin: 25px 0 15px 20px
    }
    p{
        width: 88%;
        margin: auto;
        line-height: 1.8rem;
        .fas{
            padding-right: 10px;
            font-size: 0.8rem;
        }
        a{
            color:white;
        }
    }
}


/*Responsive*/


.cssload-loader {
	position: relative;
	left: calc(50% - 31px);
	width: 62px;
	height: 62px;
	border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	perspective: 780px;
}

.cssload-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;	
}

.cssload-inner.cssload-one {
	left: 0%;
	top: 0%;
	animation: cssload-rotate-one 1.15s linear infinite;
		-o-animation: cssload-rotate-one 1.15s linear infinite;
		-ms-animation: cssload-rotate-one 1.15s linear infinite;
		-webkit-animation: cssload-rotate-one 1.15s linear infinite;
		-moz-animation: cssload-rotate-one 1.15s linear infinite;
	border-bottom: 3px solid rgb(0,0,0);
}

.cssload-inner.cssload-two {
	right: 0%;
	top: 0%;
	animation: cssload-rotate-two 1.15s linear infinite;
		-o-animation: cssload-rotate-two 1.15s linear infinite;
		-ms-animation: cssload-rotate-two 1.15s linear infinite;
		-webkit-animation: cssload-rotate-two 1.15s linear infinite;
		-moz-animation: cssload-rotate-two 1.15s linear infinite;
	border-right: 3px solid rgb(0,0,0);
}

.cssload-inner.cssload-three {
	right: 0%;
	bottom: 0%;
	animation: cssload-rotate-three 1.15s linear infinite;
		-o-animation: cssload-rotate-three 1.15s linear infinite;
		-ms-animation: cssload-rotate-three 1.15s linear infinite;
		-webkit-animation: cssload-rotate-three 1.15s linear infinite;
		-moz-animation: cssload-rotate-three 1.15s linear infinite;
	border-top: 3px solid rgb(0,0,0);
}







